#container{
    width: 404px;
    height: 500px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    text-align: center;
  }
  #playground {
    width: 400px;
    height: 400px;
    border: 2px solid #3f4c6b;
    position: relative;
    background-color: lime;
  }
  #endScreen{
    width: 404px;
    height: 350px;
    position: absolute;
    top: 19px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
  background: teal;
 
  
  }
  #endCount, #endSeconds{
    font-weight: bold;
  }
  #timer, #counter{
    padding: 5px;
    font-family: calibri;
  }
  #timer span, #counter span{
     font-weight: bold;
  }
  #timer{
    float: right;
  }
  #counter {
    float: left;
  }
  #start, #startGame {
    width: 50px;
    height: 50px;
    background-color: #f00;
    line-height: 50px;
    text-align: center;
    font-family: calibri;
    font-size: 13px;
    border-radius: 50%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    background: #f85032;
  
  border: 2px solid #666;
    color: #666;
  }
  
  #dot{
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(102, 102, 102);
    background: lightblue;
 
  
  }
body{
    background: black;
}
