<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="bob.css">
<body>

<div ng-app="">
 
<p>Input something in the input box:</p>
<p>Name: <input type="text" ng-model="name"></p>
<h1>{{name}}</h1>
<input type="text" ng-model="color">

<p>Hey {{name}}, your name is {{name}}. Pretty cool how I don't need to reload a page or do get DOM javascript to change my name, which is {{name}}. My favorite color is {{color}}.<p>
<ol>
		<li>{{name}}</li>
		<li>{{color}}</li>
	</ol>
</div>


<h2> I want you guys to explore the code above </h2>
<ul>
	<li>
    How does my webpage know I'm using Angular? Where is it Angular.js coming from?
    </li>
   
    	<li>
     What are some new parameters we haven't see before? List them and figure out what they might do
    </li>
    
    	<li>
    What am I using to place my input straight into my webpage? How would I have to do this with vanilla JS, or even Jquery?
    </li>
</ul>
	

<h3> Today's assignment is to make a mini madlibs with this new library </h3>

<div class="square">
	

</div>
</body>
</html>
