
.square{
	width:250px;
	height: 250px;
	background: purple;
	animation: example infinite;
    animation-duration: 1s;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

